BOT_TOKEN=
ADMIN_USER_TELEGRAM_ID=

BACKEND_PORT=

REDIS_HOST=localhost
REDIS_PORT=6379

RCLONE_RC_URL=http://localhost:5572

NAVIDROME_URL=
NAVIDROME_ADMIN_USER=
NAVIDROME_ADMIN_PASSWORD=

MUSIC_LIBRARY_PATH=

SC_CLIENT_ID=
SC_OAUTH_TOKEN=