# ── SoundCloud ────────────────────────────────────────────────────────────────
SC_CLIENT_ID=
SC_OAUTH_TOKEN=

# ── SFTP ──────────────────────────────────────────────────────────────────────
SFTP_HOST=
SFTP_PORT=22
SFTP_USER=
SFTP_KEY_FILE=~/.ssh/id_rsa
SFTP_PASSWORD=
SFTP_BASE=/home/user/music

# ── Navidrome ─────────────────────────────────────────────────────────────────
NAVIDROME_URL=http://localhost:4533
NAVIDROME_ADMIN_USER=admin
NAVIDROME_ADMIN_PASSWORD=

# ── Telegram bot ──────────────────────────────────────────────────────────────
BOT_TOKEN=
ADMIN_USER_TELEGRAM_ID=

# ── Backend server ────────────────────────────────────────────────────────────
BACKEND_PORT=8000
